@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
}

body {
  background-color: hsl(212, 45%, 89%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  padding: 20px;
}

.card {
  background-color: white;
  width: 320px;
  padding: 16px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 15px 30px rgba(0,0,0,0.1);
}

.card img {
  width: 100%;
  border-radius: 15px;
}

.card h1 {
  font-size: 1.4rem;
  margin: 20px 0 12px;
  color: hsl(218, 44%, 22%);
  font-weight: 700;
}

.card p {
  font-size: 0.95rem;
  color: hsl(220, 15%, 55%);
  font-weight: 300;
  padding: 0 15px;
  margin-bottom: 20px;
}

.attribution {
  text-align:center;
  margin: 20px;
}

.attribution a {
  text-decoration: none;
}
